

.form__content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 450px;
    height: 450px;
    padding: 20px 30px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
}
span {
    color: aqua;
}
.input {
    border-radius: 10px;
    font-size: 25px;
    padding: 10px 0;
    margin: 10px 0;
}
.btnlogin {
    padding: 6px 15px;
    text-align: center;
    border-radius: 10px;
}
.register {
    display: flex;
    justify-content: space-around;
}